:root {
  --background: #161618;
  --background-variant: #232326;
  --border-color: #2e2e32;
  --text: #9fa7b4;
  --title: #f7f8f8;
  --primary: #3c48af;
  --primary-variant: #4552cb;
  --text-on-primary: #ffffff;
  --link: #99bcfe;
  --danger: #ca4141;
  --danger-light: #f07a7a;
  --alert: #d1c717;
  --success: #3dbe41;
  --text-on-alert: #1c2003;
  --text-on-danger: #f7f8f8;
  --text-on-success: #f9f9f9;
  --toaster-progress-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  list-style: none;
  text-decoration: none;
  color: var(--text);
  transition: all 400ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--title);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background: var(--background);
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  color: var(--title);
}

a {
  color: var(--link);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  transition-duration: 200ms;
}

button,
button i,
button span {
  color: var(--title);
}

a:has(i),
button:has(i) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 24px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

textarea.primary,
input.primary {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-bottom: calc(0.5rem - 2px);
  background: var(--background);
  border-bottom: 2px solid var(--border-color);
  border-radius: 2px 2px 0 0;
  margin-top: 0.35rem;
}

textarea.primary,
input.primary:focus {
  border-color: var(--primary);
  color: var(--title);
}

textarea.variant,
input.variant {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-bottom: calc(0.5rem - 2px);
  background: var(--background);
  border-bottom: 2px solid var(--border-color);
  border-radius: 2px 2px 0 0;
  margin-top: 0.35rem;
}

textarea.variant:focus,
input.variant:focus {
  border-color: var(--primary);
  color: var(--title);
  background: var(--background-variant);
}

input[data-error='true'] {
  border-color: var(--danger) !important;
}

textarea.basic {
  min-height: 100px;
}

textarea.basic,
input.basic {
  width: 100%;
  background: transparent;
  text-align: center;
  margin-top: 1rem;
  resize: none;
}

textarea.basic,
input.basic:focus {
  color: var(--title);
}

button.primary {
  width: 100%;
  background: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  text-shadow: 0px 0px 4px #000;
}

button.primary:hover {
  background: var(--primary-variant);
}

button.primary:active {
  background: var(--border-color);
}

button.danger {
  background: var(--danger);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  color: var(--text-on-danger);
  width: 100%;
}

#progress-view-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.bar,
.bar2 {
  width: 35%;
  border: 1px solid var(--link);
  position: absolute;
  left: -35%;
  top: 0;
  animation: kf-bar 1500ms ease infinite;
}

.bar2 {
  animation-duration: 1000ms;
}

.dn {
  display: none;
}

header.default {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .child {
  width: 90%;
  padding: 2rem 0;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 100%;
  cursor: pointer;
}

.title {
  color: var(--title);
}

#header-group-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 414px) {
  #link-new-quiz {
    position: fixed;
    right: 10vw;
    bottom: 10vh;
    z-index: 99;
    background: var(--alert);
    padding: 0.5rem 0.75rem;
    border-radius: 100%;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #link-new-quiz * {
    color: var(--text-on-alert);
  }

  #link-new-quiz a.blank {
    display: none;
  }

  #link-new-quiz a.dn {
    display: flex;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 90%;
  max-width: 520px;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--background-variant);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 2rem 1rem;
  font-size: 14px;
}

.out-right {
  transform: translateX(100vw);
}

.out-left {
  transform: translateX(-100vw);
}

.out-top {
  transform: translateY(-100vh);
}

.out-bottom {
  transform: translateY(100vh);
}
