<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <th:block th:replace="~{includes/head.html}"></th:block>
  <title th:text="${user.name} + ' - Edite seu perfil'"></title>
  <link rel="stylesheet" href="/public/css/profile.css">
</head>

<body>
  <div>
    <th:block th:replace="~{includes/header-default.html}"></th:block>
    <main id="main-edit-profile">
      <form id="edit-profile" th:data-auth="${user.email}" data-success="Seus dados foram atualizados com sucesso">
        <div>
          <h1>Olá, <span id="span-user-name" th:text="${user.name}"></span></h1>
          <h3>Edite seu perfil</h3>
        </div>
        <div class="inputs">
          <div class="form-input">
            <img class="avatar" th:src="${user.avatarURL} ?: '/public/svg/avatar.svg'" alt="Avatar" width="62"
              height="62">
            <input data-message="Oopss... você precisa selecionar uma imagem" type="file" class="dn" name="avatar"
              id="avatar-input" accept=".png, .PNG, .jpg, .JPG, .jpeg, .JPEG, .webp">
          </div>

          <div class="form-input">
            <label for="username">Username</label>
            <input th:value="${user.username}" maxlength="150" class="primary" data-message="Username precisa ser único"
              data-username-already-registered="Oppss... o username # já está sendo usado por outra pessoa" type="text"
              name="username" id="username" placeholder="oNoble">
          </div>

          <div class="form-input">
            <label for="name">Nome</label>
            <input th:value="${user.name}" maxlength="150" class="primary"
              data-message="Seu nome precisa conter pelo menos 2 caracteres" type="text" name="name" id="name"
              placeholder="John Doe">
          </div>

          <div class="form-input">
            <label for="email">Email</label>
            <input th:value="${user.email}" maxlength="150" class="primary"
              data-message="Email não foi considerado válido" type="email" name="email" id="email"
              placeholder="noble@tardis.com">
          </div>
        </div>
        <div class="modal out-bottom">
          <div class="modal-content">
            <h1>Você quer alterar seu email?</h1>
            <div class="form-input">
              <label for="password">Confirme sua senha</label>
              <input maxlength="150" class="primary" data-message="Sua senha precisa ter pelo menos 8 caracteres"
                type="password" name="password" id="password" placeholder="Mínimo de 8 caracteres">
            </div>
            <div class="fg">
              <a href="/forgot-password" target="_blank" rel="noopener noreferrer">Esqueceu a senha?</a>
            </div>
            <div class="buttons">
              <button type="button" class="danger">Cancelar</button>
              <button type="button" class="primary">Confirmar</button>
            </div>
          </div>
        </div>
        <div class="fg">
          <button id="button-update-password" type="button">Atualizar minha senha</button>
        </div>
        <div>
          <button type="submit" class="primary">Salvar alterações</button>
        </div>
      </form>
      <div id="modal-password" class="modal out-left">
        <form id="form-update-password" data-success="Senha atualizada com sucesso!" class="modal-content">
          <h1>Você quer atualizar sua senha?</h1>
          <div>

            <div class="form-input">
              <label for="c-password">Confirme sua senha atual</label>
              <input maxlength="150" class="primary" data-message="Sua senha tem pelo menos 8 caracteres"
                type="password" name="password" id="c-password" placeholder="Mínimo de 8 caracteres">
            </div>

            <div class="form-input">
              <label for="n-password">Nova senha</label>
              <input maxlength="150" class="primary" data-message="Sua nova senha precisa de um mínimo de 8 caracteres"
                type="password" name="password" id="n-password">
            </div>

            <div class="form-input">
              <label for="c-n-password">Confirme a nova senha</label>
              <input maxlength="150" class="primary" data-message="A senha precisa ser igual. Confirme a nova senha"
                data-message-equal="A nova senha não pode ser igual a anterior" type="password" name="password"
                id="c-n-password">
            </div>

          </div>
          <div class="fg">
            <a href="/forgot-password" target="_blank" rel="noopener noreferrer">Esqueceu a senha?</a>
          </div>
          <div class="buttons">
            <button type="button" class="danger">Cancelar</button>
            <button type="submit" class="primary">Confirmar</button>
          </div>
        </form>
      </div>
    </main>
  </div>
  <input type="hidden" id="www-manager-id" value="profile">
</body>

</html>